<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite"  parallel="tests" data-provider-thread-count="4">
<listeners>
    
    <listener class-name="com.crm.qa.listiners.MyListeners"></listener>
</listeners>
    
    <test verbose="2" preserve-order="true" name="CRM">
        <classes>

            <class name="com.crm.qa.testcases.LoginPageTest"></class>
            <class name="com.crm.qa.testcases.HomePageTest"></class>
            <class name="com.crm.qa.testcases.ContactsPageTest"></class>


        </classes>


    </test><!--Test1-->
</suite><!--Suite-->